@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .strong-shadow{
        box-shadow: rgb(33, 33, 33) 1px 1px 10px 1px;
    }

    .custom-background-1{
        background: rgb(2,0,36);
        background: linear-gradient(30deg, #acc1e2, #8fecac, #f9fa6e)
    }
    .custom-background-2{
        background: rgb(63,94,251);
        background: linear-gradient(190deg, rgba(63,94,251,1) 0%,  rgba(166,191,199,1) 64%, rgba(255,61,113,1) 80%, rgba(254,8,58,1) 97%); 
    }
    .custom-background-3{
          background: rgb(139,247,194);
          background: linear-gradient(30deg, #d5cff6, #f69bd6, #ffb75f)
    }
    .center-modal{
        border:none;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        
    }
    .custom-background-4{
        background: linear-gradient(225deg, #ffdddd, #e2c3ff, #aafdff)
    }
    
    .hide-scroll::-webkit-scrollbar { 
        width: 0 !important;
        display: none;         
    }

}